button {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    border: 2px, solid;
    box-shadow: 2px,2px,10px;
    color:crimson;
    background-color: rgb(192, 192, 192);}
button:hover{color:rgb(241, 120, 120)}