
/* Estilos del footer */
footer {
    background-color: #aa051b;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    margin-top: 20px;
  }
  
  footer p {
    margin: 0;
    padding: 0;
  }
  
  footer a {
    color: #d7d3d3;
    text-decoration: none;
  }
  
  /* Estilos de los iconos de redes sociales */
  .social-media a {
    margin: 0 10px;
  }
  .social-media i {
    font-size: 24px;
  }
