@import "logos";
@import "fonts";
@import"boton";
@import"footer";
body {background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%230A0010' cx='50' cy='0' r='50'/%3E%3Cg fill='%230d000f' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%2310010f' cx='50' cy='100' r='50'/%3E%3Cg fill='%2312010e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%2315020e' cx='50' cy='200' r='50'/%3E%3Cg fill='%2318020d' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%231b020d' cx='50' cy='300' r='50'/%3E%3Cg fill='%231e030c' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2320030c' cx='50' cy='400' r='50'/%3E%3Cg fill='%2323040b' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%2326040b' cx='50' cy='500' r='50'/%3E%3Cg fill='%2329040a' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%232c0509' cx='50' cy='600' r='50'/%3E%3Cg fill='%232e0509' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23310608' cx='50' cy='700' r='50'/%3E%3Cg fill='%23340608' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23370607' cx='50' cy='800' r='50'/%3E%3Cg fill='%233a0707' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%233c0706' cx='50' cy='900' r='50'/%3E%3Cg fill='%233f0806' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23420805' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;}
/*sass*/
$color-back:rgb(227, 151, 29);
$color-font:  rgb(255, 196, 0);
/*Selector universal*/
*{  margin: 0px;
    padding: 0px;
}

.nav-item:hover{background-color: #d60b0b;}

h1 {display: flex;
    justify-content: center;
    color:$color-back;
    font-family:serif,sans-serif;
    font-size: 70px;
    font-weight: bolder;
}

h2 {display: flex; justify-content: center;
    color: $color-font;
    font-family:serif,sans-serif;
    font-size: 40px;
    font-weight: bolder;}
 h3 
 {color:$color-font;
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;}

img {border:solid 5px;
    color: #4d0606;}

.subtitulo-style{display: flex; 
    justify-content: center;
    color:rgb(255, 196, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;font-weight: bolder;}

/*estilo de prueba imagenes*/
section{display: flex;
        justify-content: center;}


  
 
    
p {color: rgb(203, 164, 112);
    font-family: serif, Helvetica, sans-serif; 
    font-weight: bolder;
    font-size: 25px;}
/*estilo links*/
.links-style{flex-direction: row;
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;
    color: rgb(2, 2, 221);
    font-size: 20px;}
/*formularios*/
.formularios-style{margin: 0px;
    text-align: center;
    width: 350px; 
    background-color: rgb(183, 13, 13);
    padding: 10px;
    margin: auto;}
/*diseño listas*/
ul,ol {color:rgb(255, 196, 0)}
.carousel-caption {background-color: #4d0606;padding: 5px;}
br{
margin-bottom: 25px;
}
.imagen-wrap {
    display: flex;
    flex-wrap:wrap;
}
.video {
    max-width: 95%;
}
.center{display: flex;
    justify-content: center;
    align-items: center;
}
.paparulo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod {font-family: serif, sans-serif;
    font-size: 70px;
    font-weight: bolder;
    color: $color-font;
}
.prod2 {
    color: $color-font;
    font-family:serif,sans-serif;
    font-size: 40px;
    font-weight: bolder;
}
